<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="FlowController as vm">
    <h1 class="page-header">Cadastro de fluxo de caixa</h1>
    <form class="form-horizontal">
        
        <form-flow-field id="flowType" name="Fluxo">
            <select 
                class="form-control" id="flowType" 
                ng-model="vm.cashFlow.flowType" 
                ng-options="type.id as (type.name | uppercase) for type in vm.flowTypes" >
                    <option value="" >Selecione</option>
            </select>
        </form-flow-field> 
        
        <form-flow-field id="type" name="Tipo">
                <select 
                    class="form-control" id="types" 
                    ng-model="vm.cashFlow.types" 
                    ng-options="type.id as (type.id | uppercase) for type in vm.types" >
                    <option value="" >Selecione</option>
            </select>
        </form-flow-field>
        
        <form-flow-field id="member" name="Membro">
            <input type="text" class="form-control" id="member" ng-model="vm.cashFlow.member"  placeholder="Nome do membro">    
        </form-flow-field>
        
        <form-flow-field id="date" name="Data">
            <input type="text" class="form-control" id="date" ng-model="vm.cashFlow.data"  placeholder="test">    
        </form-flow-field>
        
        <form-flow-field id="owner" name="Relator">
            <input type="text" class="form-control" id="owner" ng-model="vm.cashFlow.owner"  placeholder="Membro que relatou o fluxos">    
        </form-flow-field>
        
        <form-flow-field id="value" name="Relator">
            <input type="text" class="form-control" id="value" ng-model="vm.cashFlow.value"  placeholder="R$100,00">    
        </form-flow-field>
        
        
        <div class="form-group">
            <div class="col-sm-offset-5 col-sm-7">
                <button type="submit" class="btn btn-primary">gravar</button>
                <button type="submit" class="btn btn-danger">cancelar</button>
            </div>
        </div>
    </form>
    <br/>
    <h1 class="page-header">Lista de fluxo de caixa</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Fluxo</th>
                    <th>Tipo</th>
                    <th>Membro</th>
                    <th>Data</th>
                    <th>Relator</th>
                    <th>Valor</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="flow in vm.latestFlows">
                    <td>{{flow.id}}</td>
                    <td>{{flow.flowType}}</td>
                    <td>{{flow.type}}</td>
                    <td>{{flow.member}}</td>
                    <td>{{flow.date}}</td>
                    <td>{{flow.owner}}</td>
                    <td>{{flow.value}}</td>
                    <td>
                        <edit-button></edit-button>
                        <delete-button></delete-button>
                    </td>
                </tr>
                
            </tbody>
        </table>
    </div>
</div>